*{
    margin: 0;
    box-sizing: border-box;    
}
#lk01 {
    text-decoration: none;
    color: white;
}
@font-face {
    font-family: 'DK';
    src: url(fonts/Antaris_CF/Antaris_CF.otf) format('truetype');
}
@font-face {
    font-family: 'Arabc';
    src: url(fonts/montserrat-arabic_cQLrK/Montserrat-Arabic/Montserrat-Arabic\ Black/) format('truetype');
}
#home {
    background-image: url(./image/bgHome.webp);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
#containerHome {  
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100vh;
}
.conteudoHome {
    width: 40%;
}
#IMGHOME {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#titleHome {
    font-size: 30px; 
    color: white;
    padding-top: 80px;
    font-family: "DK";
}
t {
    color: #e3c19e;
}
#corpoTxt {
    margin-top: 20px;
    color:  white;
    font-size: 22px;
}
y {
    text-decoration: underline;
}
.conteudoHome img {
    width: 70%;
}
#bntHome {
    padding: 10px 20px;
    height: 40px;
    width: 60%;
    color: white;
    font-weight: 600;
    margin-top: 40px;
    background-color: #1a1a1a; /* Fundo interno */
    border: 2px solid transparent;
    background-image: 
      linear-gradient(#bf1327, #4b121b), /* fundo do botão */
      conic-gradient(from 0deg, #e19410, #fac678, #e19410); /* gradiente da borda */
    background-origin: border-box;
    background-clip: padding-box, border-box;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  @media(max-width: 800px){
    #home {
        background-image: url(./image/bgHomeMobile.webp);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: auto;
    }
    
    .conteudoHome {
        width: 80%;
        padding-top: 200px;
    }
    #IMGHOME {
        display: none;
    }
    #titleHome {
        font-size: 20px; 
        color: white;
        font-family: "DK";
    }
    t {
        color: #e3c19e;
    }
    #corpoTxt {
        margin-top: 20px;
        color:  white;
        font-size: 10px;
    }
    y {
        text-decoration: underline;
    }
    #IMGHOME img {
        width: 100%;
    }
    #bntHome {
        padding: 10px 20px;
        height: 40px;
        width: 100%;
        color: white;
        font-weight: 600;
        font-size: 10px;
        margin-top: 10px;
        background-color: #1a1a1a; /* Fundo interno */
        border: 2px solid transparent;
        background-image: 
        linear-gradient(#bf1327, #4b121b), /* fundo do botão */
        conic-gradient(from 0deg, #e19410, #fac678, #e19410); /* gradiente da borda */
        background-origin: border-box;
        background-clip: padding-box, border-box;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    
  }
 





#secundSection {
    width: 100%;
    height: auto;
    background-image: url(./image/bgSecundSection.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.containerSecundSection {
    padding-top: 150px;
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.imgContainerSecundSection {
    width: 50%;
    margin-bottom: 20px;
}

.imgContainerSecundSection img {
    width: 70%;
    margin-left: 15%;
}

.txtSecundSection {
    width: 40%;
}

.p1{
    padding-top: 30px;
    font-size: 45px;
    color: #e3c19e;
    font-family: "DK";
}
.p2 {
    font-size: 25px;
    color: white;
}




#Lider{
    width: 80%;
    margin-left: 10%;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}
#Lider img {
    width: 40%;
    margin-left: 30%;
}
M {
    color: white;
    font-weight: 600;
}
#Lider #pLider{
    margin-top: 50px;
    text-align: center;
    color: #e3c19e;
    font-size: 26px;
}

 

#TxtImg {
    width: 80%;
    margin-left: 10%;
    padding-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#PTXTImg {
    padding-top: 150px;
    font-family: "DK";
    font-size: 22px;
    color: white;
}
T {
    color: #e3c19e;
}
t {
    text-decoration: underline;
}
#IMGTXT {
    width: 50%;
}
#IMGTXT img {
    width: 70%;
}





#Magda {
    padding-top: 150px;
    padding-bottom: 150px;
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}
.fotoMAgda {
    width: 20%;
    background: linear-gradient(to top, #510c0c, #936969);
}
.fotoMAgda  img {
    width: 99%;
    box-shadow: 0px 10px 10px;
}
.tituloFotoMAgda {
    margin-top: 10px;
    color: white;
    font-size: 20px;
    font-weight: 600;
}
.corpoFotoMagda {
    color: white;
    padding-top: 10px;
    font-size: 12px;
    font-weight: 100;
    line-height: 10px;
    padding-bottom: 10px;
}



#Barra {
    padding: 20px;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: linear-gradient(90deg, #bf1327, #4b121b);
}
#Tp1 {
    color: white;
    font-size: 21px;
    font-weight: 600;
}
#Tp2 {
    font-size: 13px;
    color: white;
}
#BTNIMG {
    cursor: pointer;
}





#palestra {
    width: 100%;
    height: 100vh;
    background-image: url(image/bgpalestra.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}

#final {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-image: url(image/final.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#ContainerFinal {
    width: 80%;
    margin-left: 10%;
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#MAgdaING {
    width: 30%;
}
#MAgdaING img {
     width: 100%;
}
#Formulario {
    width: 40%;
    padding-top: 100px;
}
#Formulario #p {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 20px;
    color: white;
    font-family: "DK";
    font-size: 21px;
}
#Formulario .Y {
    margin-left: 10%;
    width: 80%;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: solid 1px gold;
    background-color: rgba(128, 128, 128, 0.212);
}
#DVForm {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#DVForm input {
    width: 45%;
    height: 30px;
    border-radius: 5px;
    border: solid 1px gold;
    background-color: rgba(128, 128, 128, 0.212);
}
textarea {
    width: 80%;
    margin-left: 10%;
    border-radius: 5px;
    border: solid 1px gold;
    background-color: rgba(128, 128, 128, 0.212);
}
#btnForm {
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
    border: none;
    height: 40px;
    color: white;
    font-weight: 600;
    color: white;
    background: linear-gradient(90deg, #bf1327, #4b121b);

}
#Footer {
    text-align: center;
    padding: 15px;
    color: white;
    width: 100%;
    height: 50px;
    background: linear-gradient(90deg, #bf1327, #4b121b);
}


@media(max-width: 800px){
    .containerSecundSection {
        padding-top: 60px;
        margin-left: 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .imgContainerSecundSection {
        width: 80%;
        margin-left: 10%;
        margin-bottom: 20px;
    }
    .imgContainerSecundSection img {
        width: 100%;
        margin-left: 0;
    }
    .txtSecundSection {
        width: 80%;
        text-align: center;
        margin-left: 10%;
    }
    .p1{
        padding-top: 30px;
        font-size: 40px;
        color: #e3c19e;
        font-family: "DK";
    }
    .p2 {
        font-size: 20px;
        color: white;
        margin-bottom: 30px;
    }
    #TxtImg {
        width: 80%;
        margin-left: 10%;
        padding-top: 100px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    #PTXTImg {
        padding-top: 10px;
        font-family: "DK";
        font-size: 22px;
        color: white;
        margin-bottom: 50px
    }
    T {
        color: #e3c19e;
    }
    t {
        text-decoration: underline;
    }
    #IMGTXT {
        margin-left: 10%;
        width: 80%;
    }
    #IMGTXT img {
        width: 70%;
    }
    #Magda {
        padding-top: 150px;
        padding-bottom: 150px;
        width: 80%;
        margin-left: 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
    }
    .fotoMAgda {
        margin-left: 25%;
        width: 50%;
        margin-bottom: 30px;
        background: linear-gradient(to top, #510c0c, #936969);
    }
    .fotoMAgda  img {
        width: 99%;
        box-shadow: 0px 10px 10px;
    }
    .tituloFotoMAgda {
        margin-top: 10px;
        color: white;
        font-size: 20px;
        font-weight: 600;
    }
    .corpoFotoMagda {
        color: white;
        padding-top: 10px;
        font-size: 12px;
        font-weight: 100;
        line-height: 10px;
        padding-bottom: 10px;
    }
    #Barra {
        padding: 20px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background: linear-gradient(90deg, #bf1327, #4b121b);
    }
    #T {
        width: 80%;
        margin-left: 10%;
        margin-bottom: 10px;
    }
    #BTNIMG {
        width: 80%;
        margin-left: 10%;
        cursor: pointer;
    }


    #final {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        background-image: url(image/final.webp);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #ContainerFinal {
        width: 80%;
        margin-left: 10%;
        padding-top: 100px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
    }
    #MAgdaING {
        padding-top: 20px;
        width: 80%;
        margin-left: 10%;
    }
    #MAgdaING img {
         width: 100%;
    }
    #Formulario {
        width: 80%;
        margin-left: 10%;
        padding-top: 50px;
    }
    #Formulario #p {
        width: 80%;
        margin-left: 10%;
        margin-bottom: 20px;
        color: white;
        font-family: "DK";
        font-size: 21px;
    }
    #Formulario .Y {
        margin-left: 10%;
        width: 80%;
        height: 30px;
        margin-bottom: 10px;
        border-radius: 5px;
        border: solid 1px gold;
    }
    #DVForm {
        width: 80%;
        margin-left: 10%;
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #DVForm input {
        width: 45%;
        height: 30px;
        border-radius: 5px;
        border: solid 1px gold;
    }
    textarea {
        width: 80%;
        margin-left: 10%;
        border-radius: 5px;
        border: solid 1px gold;
    }
    #btnForm {
        width: 80%;
        margin-left: 10%;
        margin-top: 20px;
        border: none;
        height: 40px;
        color: white;
        font-weight: 600;
        color: white;
        background: linear-gradient(90deg, #bf1327, #4b121b);
    
    }
    #Footer {
        text-align: center;
        padding: 15px;
        color: white;
        width: 100%;
        height: 50px;
        background: linear-gradient(90deg, #bf1327, #4b121b);
    }
    
}